openapi: 3.2.0
info:
  title: WM Customer Profiles & Preferences API
  description: Documented, partner/customer-gated REST API published by WM (formerly Waste Management, Inc.) at https://api.wm.com/.
  version: '1.0'
  contact:
    name: WM API Access
    email: apiaccess@wm.com
    url: https://api.wm.com/
  license:
    name: Proprietary - partner/customer use per WM terms
servers:
- url: https://api.wm.com/v1
  description: Production
- url: https://apitest.wm.com/v1
  description: Test
security:
- bearerAuth: []
tags:
- name: Profiles & Preferences
  description: Account profile settings and communication preferences.
paths:
  /customers/{customerId}/profiles:
    get:
      operationId: getProfile
      tags:
      - Profiles & Preferences
      summary: Get customer profile
      description: Retrieve paperless billing and automatic payment settings, and WM.com login status, established during account creation or updated through the WM portal.
      parameters:
      - $ref: '#/components/parameters/CustomerId'
      responses:
        '200':
          description: Profile settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  profiles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /customers/{customerId}/communication-preferences:
    get:
      operationId: getCommunicationPreferences
      tags:
      - Profiles & Preferences
      summary: List communication preferences
      description: Retrieve all communication preferences set on the account.
      parameters:
      - $ref: '#/components/parameters/CustomerId'
      responses:
        '200':
          description: Communication preferences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericAccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: updateCommunicationPreferences
      tags:
      - Profiles & Preferences
      summary: Update communication preferences
      description: Update one or more communication preferences on the account.
      parameters:
      - $ref: '#/components/parameters/CustomerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Updated communication preferences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericAccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /preferences/categories:
    get:
      operationId: listPreferenceCategories
      tags:
      - Profiles & Preferences
      summary: List preference categories
      description: List the published communication preference categories available to set on an account.
      responses:
        '200':
          description: Preference categories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericAccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid Authorization/ClientId.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  schemas:
    Profile:
      type: object
      properties:
        id:
          type: string
        paperless_invoice:
          type: boolean
        auto_pay:
          type: boolean
        logon_status:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        last_login_date:
          type: string
          format: date-time
    GenericAccountResponse:
      type: object
      description: WM's published documentation does not disclose full response field detail for this resource; the response is a JSON object scoped to the requesting customer account.
      properties:
        request_tracking_id:
          type: string
      additionalProperties: true
  parameters:
    CustomerId:
      name: customerId
      in: path
      required: true
      description: Unique customer account identifier.
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: WM issues a JSON Web Token (JWT) and a ClientId to approved partners/customers. Send the token in the Authorization header and the ClientId in the ClientId header on every request.
