openapi: 3.2.0
info:
  title: WM Customer Service Pricing API
  description: Documented, partner/customer-gated REST API published by WM (formerly Waste Management, Inc.) at https://api.wm.com/.
  version: '1.0'
  contact:
    name: WM API Access
    email: apiaccess@wm.com
    url: https://api.wm.com/
  license:
    name: Proprietary - partner/customer use per WM terms
servers:
- url: https://api.wm.com/v1
  description: Production
- url: https://apitest.wm.com/v1
  description: Test
security:
- bearerAuth: []
tags:
- name: Service Pricing
  description: Base rates and invoice fees.
paths:
  /customers/{customerId}/services/prices:
    get:
      operationId: listServicePrices
      tags:
      - Service Pricing
      summary: List service prices
      description: Retrieve the base monthly rates for the account's services.
      parameters:
      - $ref: '#/components/parameters/CustomerId'
      responses:
        '200':
          description: Service pricing information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericAccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /customers/{customerId}/services/prices/invoice-fees:
    get:
      operationId: listInvoiceFees
      tags:
      - Service Pricing
      summary: List invoice fees
      description: Retrieve invoice fee information associated with the account's services.
      parameters:
      - $ref: '#/components/parameters/CustomerId'
      responses:
        '200':
          description: Invoice fee information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericAccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid Authorization/ClientId.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  schemas:
    GenericAccountResponse:
      type: object
      description: WM's published documentation does not disclose full response field detail for this resource; the response is a JSON object scoped to the requesting customer account.
      properties:
        request_tracking_id:
          type: string
      additionalProperties: true
  parameters:
    CustomerId:
      name: customerId
      in: path
      required: true
      description: Unique customer account identifier.
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: WM issues a JSON Web Token (JWT) and a ClientId to approved partners/customers. Send the token in the Authorization header and the ClientId in the ClientId header on every request.
